.badge {
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.badge__point {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    position: absolute;
    left:65px;
    bottom:20px;
}
.badge__point-two {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    position: absolute;
    left:108px;
    bottom:20px;
}
